[submodule "rapids_rivers_in_csharp"]
	path = rapids_rivers_in_csharp
	url = git@github.com:fredgeorge/rapids_rivers_in_csharp.git
[submodule "rapids_rivers_in_kotlin"]
	path = rapids_rivers_in_kotlin
	url = git@github.com:fredgeorge/rapids_rivers_in_kotlin.git
[submodule "rapids_rivers_in_python"]
	path = rapids_rivers_in_python
	url = git@github.com:fredgeorge/rapids_rivers_in_python.git
[submodule "rapids_rivers_in_typescript"]
	path = rapids_rivers_in_typescript
	url = git@github.com:fredgeorge/rapids_rivers_in_typescript.git
